# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.log
*.tlog
*.cache

*.pyc

.vs/

f4se/
f4se_common/
f4se_loader/
f4se_loader_common/
f4se_steam_loader/

x64/
x64_vc11/
xbyak/

f4mp/scripts/.vscode/.ropeproject/config.py
f4mp/scripts/.vscode/.ropeproject/objectdb
f4mp/scripts/.vscode/settings.json
f4mp/scripts/copy.bat

f4mp_server/scripts/bin
