# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.log
*.tlog
*.cache

*.pyc

client/f4se/.vs/

client/common/
client/f4se/f4se/
client/f4se/f4se_common/
client/f4se/f4se_loader/
client/f4se/f4se_loader_common/
client/f4se/f4se_steam_loader/

client/f4se/x64/
client/f4se/x64_vc11/
client/f4se/xbyak/

client/f4se/f4mp/scripts/.vscode/.ropeproject/config.py
client/f4se/f4mp/scripts/.vscode/.ropeproject/objectdb
client/f4se/f4mp/scripts/.vscode/settings.json
client/f4se/f4mp/scripts/copy.bat

client/f4se/f4mp_server/scripts/bin
